* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-color: #19299e;
  text-shadow: 2px 2px 5px rgb(23, 25, 109);
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  padding: 10px;
}
